In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Q1.  Who are the top 5 users in Basel with the highest number of followers? List their login in order, comma-separated

In [2]:
users = pd.read_csv('users.csv')
users.head()

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
0,tarsius,Jonas Bernoulli,NaN,"Basel, Switzerland",jonas@bernoul.li,NaN,NaN,39,1345,45,2008-09-17T19:18:37Z
1,aalmiray,Andres Almiray,NaN,"Basel, Switzerland",aalmiray@gmail.com,NaN,I code for fun and help others in the process....,253,887,65,2008-06-17T00:30:56Z
2,marcoroth,Marco Roth,NaN,"Basel, Switzerland",NaN,True,"Rubyist, Full-Stack Devloper and Open Source C...",193,555,1128,2014-01-15T17:12:11Z
3,klmr,Konrad Rudolph,ROCHE,"Basel, CH",konrad.rudolph@gmail.com,NaN,"Geneticist üß¨, computer scientist ùù∫ and softwar...",115,472,109,2008-12-07T20:55:40Z
4,MrNeRF,janusch,NaN,"Basel, Switzerland",NaN,True,Professional C++ Software Engineer. Skills: CU...,34,434,37,2017-11-21T18:17:58Z

In [5]:
top5 = users.sort_values(by='followers', ascending=False).head()
answer = top5['login'].tolist()
answer

['tarsius', 'aalmiray', 'marcoroth', 'klmr', 'MrNeRF']

#### Q2. Who are the 5 earliest registered GitHub users in Basel? List their login in ascending order of created_at, comma-separated.

In [6]:
users['created_at'] = pd.to_datetime(users['created_at'])

In [9]:
top_earliest = users.sort_values(by='created_at').head()
answer = top_earliest['login'].tolist()
answer

['bennyzen', 'aalmiray', 'pvillega', 'tarsius', 'klmr']

#### Q3. What are the 3 most popular license among these users? Ignore missing licenses. List the license_name in order, comma-separated.

In [10]:
repos = pd.read_csv('repositories.csv')
repos.head()

,login,full_name,created_at,stargazers_count,watchers_count,language,has_projects,has_wiki,license_name
0,tarsius,tarsius/.github,2019-12-05T17:14:31Z,1,1,Makefile,False,True,NaN
1,tarsius,tarsius/backline,2018-10-30T15:25:07Z,29,29,Emacs Lisp,False,False,gpl-3.0
2,tarsius,tarsius/bicycle,2017-08-06T11:23:07Z,59,59,Emacs Lisp,False,False,gpl-3.0
3,tarsius,tarsius/dim-autoload,2013-09-19T18:30:49Z,5,5,Emacs Lisp,False,False,gpl-3.0
4,tarsius,tarsius/elisp-maintainers,2017-09-21T19:28:28Z,177,177,NaN,False,False,NaN

In [11]:
repos['license_name'].value_counts()

license_name
mit                   1337
apache-2.0             588
other                  471
gpl-3.0                281
bsd-3-clause           197
gpl-2.0                 65
agpl-3.0                56
cc0-1.0                 44
bsd-2-clause            42
lgpl-3.0                31
cc-by-4.0               20
unlicense               19
mpl-2.0                 18
lgpl-2.1                13
isc                     13
bsl-1.0                  6
cc-by-sa-4.0             5
epl-2.0                  3
bsd-3-clause-clear       2
epl-1.0                  2
wtfpl                    2
afl-3.0                  1
ms-pl                    1
zlib                     1
mit-0                    1
ofl-1.1                  1
Name: count, dtype: int64

#### Q4. Which company do the majority of these developers work at?

In [12]:
users['company'].value_counts()

company
ROCHE                              5
UNIVERSITY OF BASEL                2
BALOISE                            2
FHNW & PEERVIEW GMBH               1
ARACONWISS GMBH                    1
                                  ..
FMI                                1
ADFINIS                            1
VERNEMQ                            1
QUADBIO LAB, D-BSSE, ETH ZURICH    1
WAYFAIR, PREV. @UVINUM             1
Name: count, Length: 62, dtype: int64

#### Q5. Which programming language is most popular among these users?

In [13]:
repos['language'].value_counts()

language
Python          671
JavaScript      534
Java            328
PHP             233
C++             228
               ...
Sass              1
Visual Basic      1
Perl6             1
AppleScript       1
Agda              1
Name: count, Length: 100, dtype: int64

#### Q6. Which programming language is the second most popular among users who joined after 2020?

In [15]:
users_after_2020 = users[users['created_at'] > '2020-01-01']
users_after_2020

,login,name,company,location,email,hireable,bio,public_repos,followers,following,created_at
85,markh0rr,NaN,STACKSYNC FULL STACK DEVELOPER | EPFL CS STUDENT,Basel | Lausanne Switzerland,NaN,NaN,MAKE SOMETHING PEOPLE WANT.,4,41,77,2021-02-11 11:10:18+00:00
94,leonden,Leon,HOME,Basel,info@leonhochwimmer.com,NaN,ü™êü´ßü¶ã,35,36,95,2022-01-17 09:06:41+00:00

In [17]:
repos_2020 = repos[repos['login'].isin(['markh0rr', 'leonden'])]
repos_2020['language'].value_counts()

language
HTML          8
TypeScript    4
Java          4
CSS           4
Python        3
JavaScript    3
C++           2
Rust          2
Ruby          1
PHP           1
Name: count, dtype: int64

#### Q7. Which language has the highest average number of stars per repository?

In [18]:
avg_stars = repos.groupby('language')['stargazers_count'].mean()
top_lang = avg_stars.idxmax()
top_stars = avg_stars.max()
print(top_lang, top_stars)

Emacs Lisp 57.76470588235294

#### Q8. Let's define leader_strength as followers / (1 + following). Who are the top 5 in terms of leader_strength? List their login in order, comma-separated.

In [23]:
users['leader_strength'] = users['followers'] / (1 + users['following'])
top5_lead = users.sort_values(by='leader_strength', ascending=False).head()
top5_lead['login'].tolist()

['dpryan79', 'wasserth', 'ravage84', 'elanmart', 'quadbiolab']

#### Q9. What is the correlation between the number of followers and the number of public repositories among users in Basel?

In [24]:
correlation = users['followers'].corr(users['public_repos'])
correlation

0.22289493131082125

#### Q10. Does creating more repos help users get more followers? Using regression, estimate how many additional followers a user gets per additional public repository.

In [25]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
X = users['public_repos'].values.reshape(-1,1)
y = users['followers']

lr.fit(X, y)
slope = lr.coef_[0]
slope

0.4782094809667004

#### Q11. Do people typically enable projects and wikis together? What is the correlation between a repo having projects enabled and having wiki enabled?

In [27]:
correlation = repos['has_projects'].corr(repos['has_wiki'])
correlation

0.2929570623709389

#### Q12. Do hireable users follow more people than those who are not hireable?

In [39]:
users['hireable'] = users['hireable'].fillna(False).astype(bool)

In [42]:
hireable_avg_following = users[users['hireable'] == True]['following'].mean()
non_hireable_avg_following = users[users['hireable'] == False]['following'].mean()
difference = hireable_avg_following - non_hireable_avg_following
difference

80.17333333333335

#### Q13. Some developers write long bios. Does that help them get more followers? What's the correlation of the length of their bio (in Unicode characters) with followers? (Ignore people without bios)

In [45]:
users_with_bio = users[users['bio'].notna()].copy()
users_with_bio.loc[:, 'bio_len'] = users_with_bio['bio'].str.len()

X = users_with_bio['bio_len'].values.reshape(-1,1)
y = users_with_bio['followers']

lr2 = LinearRegression()
lr2.fit(X, y)
lr2.coef_[0]

0.930830156520659

#### Q14. Who created the most repositories on weekends (UTC)? List the top 5 users' login in order, comma-separated

In [47]:
repos['created_at'] = pd.to_datetime(repos['created_at'])
repos['day_of_week'] = repos['created_at'].dt.dayofweek
weekend_repos = repos[repos['day_of_week'].isin([5, 6])]
weekend_repos['login'].value_counts().head()

login
marcossegovia    48
tbreuss          44
ioolkos          40
maysam           39
pvillega         38
Name: count, dtype: int64

#### Q15. Do people who are hireable share their email addresses more often?

In [51]:
fraction_hierable = users[users['hireable'] == True]['email'].notna().mean()
fraction_non_hierable = users[users['hireable'] == False]['email'].notna().mean()
diff = fraction_hierable - fraction_non_hierable
diff

0.13333333333333336

#### Q16. Let's assume that the last word in a user's name is their surname (ignore missing names, trim and split by whitespace.) What's the most common surname? (If there's a tie, list them all, comma-separated, alphabetically)

In [54]:
new_users = users[users['name'].notna()].copy()
new_users['surname'] = new_users['name'].str.split().str[-1].str.strip()
surname_counts = new_users['surname'].value_counts()
max_count = surname_counts.max()
common_surnames = surname_counts[surname_counts == max_count].index.tolist()
common_surnames.sort()
common_surnames_output = ', '.join(common_surnames)
common_surnames_output

'Brand, Christensen'